body {
    color: #373e4a;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1 1 auto;
}

.instructor-summary-header {
    text-align: center;
    padding-bottom: 25px;
}

.summary-panel-heading {
    border-bottom: 1px solid #CCCCCC;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.summary-table-style {
    margin-top: 25px;
}

.summary-table-subheader {
    font-weight: 500;
    font-size: 13px;
}

.summary-panel-title {
    padding: 10px 15px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: inherit;
    flex: 0 1 auto;
    align-self: center;
}

.summary-panel-title>* {
    margin: 0;
}

.summary-preference-indicator {
    padding: 10px 15px;
    flex: 0 1 auto;
}

.summary-panel-body {
    position: relative;
    padding: 15px;
    padding-top: 5px;
}

.summary-panel {
    margin-top: 15px;
    margin-bottom: 17px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.summary-panel-courses {
    border-color: #CCCCCC;
    border-radius: 3px;
    background-clip: padding-box;
    width: 80%;
}

.summary-panel-notices {
    border-color: #CCCCCC;
    border-radius: 3px;
    background-clip: padding-box;
    width: 15%;
    position: fixed;
    top: 7.75em;
    right: 2.5em;
    position: fixed;
}

.summary-panel-notices .summary-panel-body {
    padding-top: 10px;
}

.summary-panel-courses>.summary-panel-heading {
    color: #373e4a;
    background-color: #ffffff;
    padding: 0;
}

.notices-link {
    color: #1988b6;
}

.notices-link:hover {
    color: #08729E;
    text-decoration: underline;
}

.check-mark-icon {
    font-size: 8pt;
    margin-right: 7px;
}

.table-border-none>tbody>tr>td {
    line-height: 3;
}

.notices-list {
    margin-top: 5px;
    list-style: none;
}

.notices-list ul {
    padding-left: 0px;
    text-decoration: none;
}


/* remove border*/

.table-border-none>tbody>tr>td,
.table-border-none>tbody+tbody,
.table-border-none>thead>tr>th {
    border: none !important;
}


/* future-year view style */

.future-year,
.future-year h4,
.future-year th {
    color: #d1d1d1;
}


/*preference indicator*/

.active-indicator-btn {
    background-color: white;
    border: 2px solid #00A651;
    color: #00A651;
    line-height: 25px;
    width: 260px;
}

.active-indicator-btn:hover {
    background-color: white;
    border: 2px solid #00A651;
    color: #00A651;
    text-decoration:underline;
}

.nonactive-indicator-btn {
    background-color: white;
    border: 2px solid #FA4848;
    color: #FA4848;
    line-height: 25px;
    width: 260px;
}

.nonactive-indicator-btn:hover {
    background-color: white;
    border: 2px solid #FA4848;
    color: #FA4848;
    text-decoration:underline;
}


/* term indicator */

.badge-term-indicator {
    position: absolute;
    top: 12px;
    margin-left: 10px;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 7px;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
    background-color: #1988b6;
}