.border-bottom--gray {
    border-bottom: 2px solid rgb(235, 235, 235);
    padding-bottom: 10px;
}

.tile-assignment {
    text-align: center;
    width: 40%;
}
/* bootstrap overwrite */
.btn-default {
    /*margin-bottom: 17px;*/
}

.btn-default p {
    text-align: center;
}

.table-bordered--white {
    border: solid white !important;
}

td {
    border: 1px solid white !important;
    border-bottom: 2px solid rgb(235, 235, 235) !important;
}

#courses-table .tile-assignment {
    width: 40%;
    float: right;
    margin-right: 10%;
}

.page-body .select2-container {
    width: 40%;
    float: left;
}

.table_header--gray {
    color: gray;
}
.table_header--margin {
    margin-bottom: 25px;
}
/*bootstrap overwrite*/
.row {
    margin-left: 0px;
    margin-right: 0px;
}

.popover-content {
    color: gray;
}

.select2 {
    text-align: center;
}

.select2-result-label {
    padding: 5px 25px;
}

.select2-result-label:hover {
    background: #f3f3f3;
    color: #303641;
}

.select2-result-label-title {
    padding: 4px 15px;
    margin: 0;
    cursor: inherit;
    min-height: 1em;
    color: black;
    font-weight:bold;
}

.panel-options-drop_down {
    width: 60px;
    text-align: center;
    background: none !important;
    padding: 5px;
}

.panel-heading .panel-options {
    padding: 5px 0px 5px 0px;
}

.panel-primary > .panel-heading > .panel-options > a {
    padding: 0px;
    margin: 0px;
}


.check-box-TA-call {
    font-size: 7pt;
    line-height: 2;
}

/* some overwrite */

.form-groups-bordered > .form-group {
    border-bottom: none;
}

.selectboxit .selectboxit-option-icon-container {
    margin-left: 15% !important;
}

.page-body .selectboxit-container .selectboxit-options > span.selectboxit-optgroup-header {
    color: white;
    background: rgb(55, 62, 74);
}

.tile-assignment_add-course {
    height: 30px !important;
    padding: 6px !important;
    line-height: 17.15px !important;
}
