.border-bottom--gray {
    border-bottom: 2px solid rgb(235, 235, 235);
    padding-bottom: 15px;
}

.tile-assignment {
    text-align: center;
    width: 40%;
    height: 30px;
    padding: 6px;
    margin-bottom: 17px;
    margin-right: 10%;
}

.view-swticher {
    flex: 1 1 auto;
}

.course-people-swticher {
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;
}

#align-end {
    align-self: flex-end;
    flex: 0 1 auto;
}

.info--bg_black {
    background-color: #373e4a;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.course-info {
    list-style: outside none none;
    padding-left: 0px;
}

.course-info li {
    padding-bottom: 10px;
}

.course-info--color_green {
    color: green;
}

.course-info--color_red {
    color: red;
}

.ta-reader-selector {
    width: 40%;
    margin-bottom: 17px;
    margin-right: 10%;
    float: right;
}

.add-new-slot {
    width: 40%;
    margin-right: 10%;
    margin-bottom: 20px;
    position: relative;
    height: 30px;
    padding: 6px;
    border: 1px solid #ebebeb;
}

.ta-info {
    font-size: 8pt;
    line-height: 20px;
    width: 300px;
    padding-left: 0px;
    list-style: outside none none;
}

.ta-info li {
    padding-bottom: 10px;
}


/* bootstrap overwrite */

.table-bordered--white {
    border: solid white !important;
}

#instructors-table .tile-assignment {
    position: relative;
    height: 45px;
    line-height: .9em;
    padding: 10px 6px;
    float: right;
    margin-right: 10%;
}

#courses-table .tile-assignment {
    width: 40%;
    float: right;
    margin-right: 10%;
}

.page-body .select2-container {
    width: 40%;
    float: left;
}

.ta-slot--width {
    width: 450px;
}


/*bootstrap overwrite*/

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.btn-default p {
    text-align: center;
}

td {
    border: 1px solid white !important;
    border-bottom: 2px solid rgb(235, 235, 235) !important;
}

.popover-content {
    color: gray;
}

.panel-options-drop_down {
    width: 60px;
    text-align: center;
    background: none !important;
    padding: 5px;
}

.panel-heading .panel-options {
    padding: 5px 0px 5px 0px;
}

.panel-primary>.panel-heading>.panel-options>a {
    padding: 0px;
    margin: 0px;
}


/* some overwrite */

.form-groups-bordered>.form-group {
    border-bottom: none;
}

.selectboxit .selectboxit-option-icon-container {
    margin-left: 34% !important;
}

.tile-assignment_add-course {
    height: 30px !important;
    padding: 6px !important;
    line-height: 17.15px !important;
}


/* misc */

.width-40 {
    width: 40%;
}

.width-60 {
    width: 60%;
}

.icon-remove_person {
    /* remove person icon */
    display: none;
    color: #ee4749;
    float: right;
    position: absolute;
    right: -20px;
    font-size: 12pt;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}

.icon-remove_course {
    /* remove course icon */
    display: none;
    color: #ee4749;
    float: right;
    position: absolute;
    top: 8px;
    right: -20px;
    font-size: 12pt;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}

.tile-assignment:hover .icon-remove_person {
    display: block !important;
}

.tile-assignment--poniter {
    cursor: pointer;
}

.search-flex {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.search-flex-children {
    flex: 0 1 35%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-children {
    flex: 1 1 auto;
}

.flex-row-children h4 {
    margin-top: 20px;
}

.flex-selector {
    display: flex;
    flex: 1 1 40%;
    flex-direction: column;
}

.flex-selector_style {
    margin-top: 75px;
}

.flex-slector-children {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.page-header {
    border: none;
}

.course-requriement {
    color: #2c7ea1;
    right: 172px;
    top: 0px;
    position: absolute;
}

.course-requriement:hover,
.course-requriement:focus {
    color: #1b4e64;
}