/*ta-call-config css*/

.ta-call-info-section {
    flex: 1 1 auto;
}

.set-ta-call-duedate {
    flex: 1 1 auto;
}

.preference-selector {
    margin-bottom: 20px;
    flex: 0 1 100%;
}

.email-section {
    margin-bottom: 30px;
    text-align: left;
}

.message-section {
    flex: 0 1 100%;
}

.flex-box_row {
    display: flex;
    flex-direction: row;
}

.flex-box_column {
    display: flex;
    flex-direction: column;
}

.table_header--gray {
    color: gray;
}

.table_header--margin {
    margin-bottom: 25px;
}

.check-box-TA-call {
    font-size: 8pt;
}

.teaching-call--header_style {
    /*make modal header color black */
    background: #303641;
}

.teaching-call--textarea_height {
    height: 174px !important;
}

.teaching-call--header_style h4 {
    color: white;
}

.teaching-call--header_style button {
    /*assign style to "x" button */
    color: white;
    opacity: 1;
}

.teaching-call--width {
    width: 750px;
}

.modal-footer--teaching-call {
    background-color: rgb(248, 248, 248);
}

.checkbox-inline input {
    /* fixed position of the checkbox */
    top: -3px !important;
}


/* modal overwrite */

.modal .modal-header .close {
    background: none;
    display: inline-block;
    padding: 0px 5px;
    line-height: 1;
    color: white;
    zoom: 1;
    opacity: 1 !important;
}


/*bootstrap overwrite*/

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.teaching-call--info_flex h5 {
    margin-top: 0px;
}


/* neon overwrite */

.datepicker-inline {
    font-size: 8pt !important;
}

div.datepicker {
    padding-left: 0px;
    padding-right: 0px;
}